<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/AdminHome.css">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <title>View Organization PAN</title>
</head>

<body>

    <!-- Sidebar -->
    <div class="sidebar">
        <a href="/AdminHome"><img class="logo" src="/images/logob.png" alt="Logo"></a>
        <a href="/AdminViewPAN"><button class="button">Verify PAN</button></a><br><br>
        <button class="button">Verify Document</button><br><br>
    </div>

    <!-- Content -->
    <div class="content">
        <h1>Welcome <%= user.name %> to the AdminHome</h1>
        <div class="admin-section">
            <img src="http://localhost:4000/<%= user.profilePic %>" class="admin-picture" alt="admin-picture"><br><br><br>
            <strong>Admin Name: <%= user.name %></strong><br><br>
            <a href="/logout"><button class="button">logout</button></a>

            <!-- Footer -->
            <footer>
                <div class="footer-content">
                    <p>&copy; 2024 Community Connect. All rights reserved.</p>
                </div>
            </footer>
        </div>
    </div>

</body>

</html>