<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/AdminHome.css">
    <title>Home Organization</title>
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
        }

        body {
            display: flex;
            justify-content: space-between;
            background-color: #f0f0f0;
            margin: 0;
        }

        .section {
            padding: 20px;
        }

        #section1 {
            flex: 1;
            background-color: #DEDEDE;
        }

        #section1 img {
            max-width: 50%;
            height: auto;
            margin-bottom: 10px;
        }

        #section1 button {
            background-color: #358698;
            border: none;
            color: white;
            padding: 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 2px 1px;
            cursor: pointer;
        }

        #section1 button {
            border-radius: 8px;
        }

        #section1 button:hover {
            background-color: #464A4B
        }

        #section2 {
            flex: 5;
            background-color: black;
        }

        #section2 h1 {
            text-align: center;
            color: white;
        }
    </style>
</head>

<body>

    <div class="section" id="section1">
        <img src="/images/logob.png" alt="Logo">
        <button class="button">Verify Organization</button><br><br>
        <button class="button">verify Document</button><br><br>
    </div>

    <div class="section" id="section2">
        <h1>ADMIN PANEL</h1>
    </div>

</body>

</html>