<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/AboutUs.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <title>Welcome Page</title>
</head>

<body>
    <!-- Navbar section -->
    <nav class="navbar">
        <ul class="nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="/AboutUs">About</a></li>
            <li><a href="/ContactUs">Contact</a></li>
        </ul>
    </nav>
    <!-- End Navbar section -->

    <div class="container">
        <div class="content">
            <h1>How to contact Community Connect?</h1>
            <div>
                <p>Email: communityconnect.noreply@gmail.com</p>
                <p>Phone: +977 9804344008</p>
                <p>Address: SundarDulari, Morang</p>
                <p>Opposite Itahari International College</p>
            </div>
        </div>
    </div>
</body>

</html>