<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/organization.css">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <title>Dashboard</title>
</head>

<body>

    <!-- Sidebar -->
    <div class="sidebar">
        <a href="/organizationHome"><img src="/images/logob.png" alt="Logo"></a>
        <a href="/profile"><img class="profile" src="http://localhost:4000/<%= user.profilePic %>" alt="profilePicture"></a><br><br>
        <button class="button">Create A Program</button><br><br>
        <button class="button">Created Programs</button><br><br>
        <button class="button">Link Khalti Account</button>
    </div>

    <!-- Content -->
    <div class="content">
        <h1>Greetings!! <%=user.name%></h1>
        <h2>Create your first program here</h2>
        <button class="button">Create A Program</button>

        <!-- Footer -->
        <footer>
            <div class="footer-content">
                <p>&copy; 2024 Community Connect. All rights reserved.</p>
            </div>
        </footer>
    </div>

</body>

</html>
