<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signup.css">
    <title>Signup page</title>
</head>

<body>
    <div class="logo-section">
        <img src="/images/logo.png" alt="Project Logo">
    </div>
    <div class="signup-container">
            <form action="/signup" method="post" enctype="multipart/form-data">
                <div class="input-container">
                    <i class="fa fa-envelope"></i>
                    <input type="email" id="email" name="email" placeholder="Email" required>
                </div>
                <div class="input-container">
                    <i class="fa fa-lock"></i>
                    <input type="password" id="password" name="password" placeholder="Password" required>
                </div>
                <div class="input-container">
                    <i class="fa fa-user"></i>
                    <input type="text" id="name" name="name" placeholder="Name" required>
                </div>
                <div class="input-container">
                    <i class="fa fa-address-card"></i>
                    <input type="text" id="address" name="address" placeholder="Address" required>
                </div>
                <div class="select-container">
                    <select id="userType" name="userType" required>
                        <option value="" disabled selected>Signup As</option>
                        <option value="organization">Organization</option>
                        <option value="member">Member</option>
                    </select>
                </div>
                <div class="image-section">
                    <input type="file" name="profilePic" accept="Image/*">
                </div>
                <div>
                    <button class="signup-btn" type="submit">Signup</button>
                </div>
                <div>
                    <p class="p1">Already have an account?</p>
                    <button class="login-btn"><a href="/login">Login</a></button>
                </div>
            </form>
    </div>

</body>

</html>