<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/welcome.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <title>Welcome Page</title>
</head>

<body>
    <!-- Navbar section -->
    <header>
        <nav class="navbar">
            <ul class="nav-list">
                <li><a href="/">Home</a></li>
                <li><a href="/AboutUs">About</a></li>
                <li><a href="/ContactUs">Contact</a></li>
            </ul>
        </nav>
        <div class="logo-section">
            <img src="/images/logo.png" alt="Project Logo">

            <p class="name">Community Connect</p>
        </div>

        <div class="info">
            <p>“A platform where people can connect and plan social works in an easy manner.”</p>
        </div>
        <div class="button-section">
            <button class="login-btn"><a href="/login">Login</a></button>
            <button class="signup-btn"><a href="/signup">Signup</a></button>
        </div>
    </header>
    <!-- End Navbar section -->
</body>

</html>