@font-face {
    font-family: 'Segoe UI';
    src: local('Segoe UI'), url('../public/fonts/Segoe\ UI.ttf') format('woff2');
}

body {
    background-image: url('/images/socialwork.jpg');
    background-size: cover;
    /* Cover the entire viewport */
    background-position: center;
    /* Center the background image */
    background-repeat: no-repeat;
    /* Prevent the background image from repeating */
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
}

.container .content {
    position: absolute;
    /* Position the background text */
    bottom: 0;
    /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    /* Grey text */
    width: 97.8%;
    /* Full width */
    padding: 20px;
    /* Some padding */
}


/* Nav bar */
.navbar {
    background-color: transparent;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list li {
    display: inline-block;
}

.nav-list li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    background-color: burlywood;
    /* Set the background color for the buttons */
    border-radius: 5px;
    /* Optional: add rounded corners */
    transition: background-color 0.3s ease;
    /* Smooth transition for hover effect */
}

.nav-list li a:hover {
    background-color: #b99a76;
    /* Change background color on hover */
}

/* Nav bar */



@media screen and (max-width: 768px) {

    /* Adjustments for smaller screens */
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .nav-list li {
        display: block;
        margin: 10px 0;
    }

    .button-section {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
}