@font-face {
    font-family: 'Segoe UI';
    src: local('Segoe UI'), url('../public/fonts/Segoe\ UI.ttf') format('woff2');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
}

::-webkit-scrollbar {
    scroll-behavior: smooth;
    display: none;
}

:root {
    --main-color: #0be3ee;
}

.theme-text {
    color: var(--main-color);
}

.navbar {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-link {
    color: black;
}

.navbar-brand {
    color: var(--main-color) !important;
}

.nav-item img {
    height: 20px;
    width: 20px;
}

.navbar-brand img {
    height: 40px;
    width: 40px;
}

.act {
    color: var(--main-color) !important;
    border-bottom: 1px solid var(--main-color);
}

.navbar ul li a:hover {
    color: var(--main-color) !important;
    border-bottom: 1px solid var(--main-color);
}

.information {
    text-align: center;
    padding: 10px;
}

.header {
    background-color: white;
    position: relative;
}

.mainCreate {
    height: 90vh;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.createProgram {
    background-color: whitesmoke;
    padding: 40px;
    border-radius: 20px;
    border: 2px solid black;
}

.information {
    background-color: gainsboro;
    /* Light gray background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Soft shadow */
    text-align: center;
    /* Center align text */
    margin: 10px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin: 0;
}

.contact-form {
    background: whitesmoke;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 70%;
    border: 2px solid black;
}

.contact-form .form-control {
    border-radius: 1rem;
}

.form-group {
    margin-bottom: 25px;
    text-align: center;
}

.contact-image {
    text-align: center;
}

.contact-image .lordicon {
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}

.contact-form form {
    padding: 14%;
}

.contact-form form .row {
    margin-bottom: -7%;
}

.contact-form h3 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}

.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.btnContactSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

.footer-head {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
}