@font-face {
    font-family: 'Segoe UI';
    src: local('Segoe UI'), url('../public/fonts/Segoe\ UI.ttf') format('woff2');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
}

::-webkit-scrollbar {
    scroll-behavior: smooth;
    display: none;
  }

:root {
    --main-color: #0be3ee;
}

.theme-text {
    color: var(--main-color);
}

.navbar
{
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.nav-link
{
    color: black;
}

.navbar-brand {
    color: var(--main-color) !important;
}

.nav-item img
{
    height: 20px;
    width: 20px;
}

.navbar-brand img
{
    height: 40px;
    width: 40px;
}

.act {
    color: var(--main-color) !important;
    border-bottom: 1px solid var(--main-color);
}

.navbar ul li a:hover {
    color: var(--main-color) !important;
    border-bottom: 1px solid var(--main-color);
}

.information
{
    text-align: center;
    padding: 10px;
}

.header {
    background-color: #F1F9EC;
    position: relative;
}

.container
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Card css */

body {
    font-size: 16px;
    color: #ffffff;
    text-rendering: optimizeLegibility;
}


.light {
    background: #f3f5f7;
}

.mainCreate
{
    height: 90vh;
    display: flex;
    align-items: baseline;
    justify-content: center;
    color: black;
}

.createProgram
{
    background-color: rgb(179, 185, 185);
    padding: 40px;
    border-radius: 20px;
}

.information {
    background-color: gainsboro; /* Light gray background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
    text-align: center; /* Center align text */
    margin: 10px;
    margin-bottom: 40px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Choose a readable font */
    font-size: 36px; /* Large font size */
    color: #333; /* Dark text color */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Subtle text shadow */
    margin: 0; /* Remove default margin */
}

.footer-head {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
}