@font-face {
    font-family: 'Segoe UI';
    src: local('Segoe UI'), url('../public/fonts/Segoe\ UI.ttf') format('woff2');
}

body {
    margin: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 200px;
    background-color: gray;
    padding: 20px;
    position: fixed;
    height: 100%;
}

.logo {
    max-width: 50%;
    height: auto;
    margin-bottom: 20px;
}

.profile
{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    margin: 5px 10px;
    background-color: burlywood;
    color: #fff;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 13px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background-color: #b99a76;
    transform: translateY(-2px);
}

.button:active {
    background-color: #464A4B;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.content {
    flex: 1;
    background-color: #E5E5E5;
    color: darkgoldenrod;
    padding: 20px;
    margin-left: 220px;
    text-align: center;
    position: relative;
    flex: 1;
    background-color: white; 
}

.profile-section {
    background-color: lightyellow;
    border-radius: 10%;
    margin-left: 400px;
    margin-right: 400px;
    height: 93%;
    margin-bottom: 20px;
}

.profile-picture {
    max-width: 40%;
    /* Adjust the maximum width as needed */
    height: 320px;
    margin-top: 20px;
    border-radius: 50%;
    /* Make the image round */
    overflow: hidden;
    /* Ensure the image stays within the rounded border */
}

.profile-button {
    background-color: transparent;
    border: 2px solid black;
    color: darkgoldenrod;
    /* Set text color to match the border color */
    padding: 10px 20px;
    /* Adjust padding as needed */
    font-size: 16px;
    /* Adjust font size as needed */
    cursor: pointer;
    border-radius: 8px;
    /* Optional: Add border-radius for rounded corners */
}

.profile-button:hover {
    background-color: burlywood;
    color: #333;
    /* Set text color on hover */
}

.profile-button:active {
    background-color: #ccc;
    /* Set background color when button is pressed */
    border-color: #ccc;
    /* Set border color when button is pressed */
}

.content footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
}