@font-face {
    font-family: 'Segoe UI';
    src: local('Segoe UI'), url('../public/fonts/Segoe\ UI.ttf') format('woff2');
}

body {
    background-image: url('/images/socialwork.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
}

.logo-section {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.logo-section img {
    width: 200px;
    height: 200px;
}

.signup-container {
    padding: 20px;
    text-align: center;
    margin: 30px auto;
    width: 300px;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

.input-container i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    color: #999;
}

.input-container input[type="email"],
.input-container input[type="password"],
.input-container input[type="text"] {
    width: calc(100% - 40px);
    padding: 15px 20px;
    padding-left: 40px;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
    font-size: 16px;
    color: #333;
    outline: none;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.input-container input:focus {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.select-container {
    position: relative;
    margin-bottom: 20px;
}

.select-container select {
    width: calc(100% - 40px);
    padding: 15px 20px;
    padding-left: 40px;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
    font-size: 16px;
    color: #333;
    outline: none;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.select-container::before {
    content: "\f107"; /* Unicode for down arrow */
    font-family: FontAwesome; /* Use font awesome for arrow */
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: #999;
    pointer-events: none; /* Make sure arrow doesn't interfere with select interaction */
}

.select-container select:focus {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.image-section {
    position: relative;
    margin-bottom: 20px;
}

.image-section input[type="file"] {
    width: calc(100% - 40px);
    padding: 15px 20px;
    padding-left: 40px;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
    font-size: 16px;
    color: #333;
    outline: none;
    transition: background-color 0.3s, box-shadow 0.3s;
}


.image-section input:focus {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.login-btn,
.signup-btn{
    display: inline-block;
    padding: 12px 24px;
    margin: 5px 10px;
    background-color: burlywood;
    color: #fff;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-btn a,
.signup-btn a{
    text-decoration: none;
    /* Remove underline from anchor tags */
    color: inherit;
    /* Inherit text color from the parent button */
}

.login-btn:hover,
.signup-btn:hover {
    background-color: #b99a76;
    transform: translateY(-2px);
}


.p1 {
    color: black;
}

.error-message {
    color: black; /* Change the color to whatever you prefer */
    font-size: 14px; /* Adjust font size as needed */
    margin-bottom: 5px; /* Adjust spacing as needed */
    background-color: white;
}