@font-face {
    font-family: 'Segoe UI';
    src: local('Segoe UI'), url('../public/fonts/Segoe\ UI.ttf') format('woff2');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
}

:root {
    --main-color: #0be3ee;
}

.theme-text {
    color: var(--main-color);
}

.navbar-brand {
    color: var(--main-color) !important;
}

.act {
    color: var(--main-color) !important;
    border-bottom: 1px solid var(--main-color);
}

.navbar ul li a:hover {
    color: var(--main-color) !important;
    border-bottom: 1px solid var(--main-color);
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(/images/background.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
}

.middle {
    height: 80vh;
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.middle h1 {
    font-size: 50px;
}

.logo-image {
    max-width: 200px;
    /* Set maximum width for the image */
}

button 
{
    margin-right: 20px; /* Adjust the value to change the gap */
}


@media(max-width: 768px) {
    .middle 
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .middle img 
    {
        margin-top: 0;
        max-width: 40%;
        max-height: 40%;
    }

    .middle h1 
    {
        font-size: 24px;
        /* Decrease font size for small screens */
        padding: 10px;
        text-align: center;
    }

    .btn-lg 
    {
        font-size: 14px; /* Adjust the font size as needed */
    }
}